---
---
// 
.card-columns { 
    display: grid; 
//     grid-template-columns: 1fr 1fr 1fr; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
};
.card-img-top {
    height: 250px !important;
    object-fit: scale-down;    
};
@import "portfolYOU";

